.card {
    width: 65%;
    height: 250px;
    display: flex;
    position: relative;
    bottom: 125px;
    margin: 15px auto;
}
.card-header {
    display: flex;
    justify-content: space-between;
}
.card-avatar {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: #212529;
    border-radius: 50px;
}
.card-author {
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: 600;
    margin: 25px;
    margin-right: 40%;
    color: black;
}
.createdAt {
    color: black;
    height: 55px;
    width: 200px;
    display: flex;
    justify-content: end;
    position: relative;
    top: 70%;
}
.card-text {
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10%;
    font-size: 24px;
}
.readMore {
    display: flex;
    position:relative;
    left: 35%;
    bottom: 3%;
}