/* HTML5 display-role reset for older browsers */
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Styling starts here ******************************************************************************/
.appBody{
  display: flex;
  justify-content: space-evenly;
}
.paths {
  margin: 25px;
  position: relative;
  right: 5%;
  width: 65vw;
}
.navBar {
  display: block;
  position: relative;
  margin:15px;
  top: 70px;
  width: 150px;

}
.homePage {
  width: 100%;
}
.container-nav {
  width: 150px;
}
.modal-header, .modal-body {
  background-color: #5b5b62;  
}


@media screen and (max-width: 470px)  {
    .header {
      width: 470px;
    }
}
@media screen and (max-width: 850px)  {
  .header {
    width: 860px;
  }
}
