.dashboardContainer {
    width: 100%;
}
.userSignedIn {
   display: flex;
   justify-content: center;
}
.editContainer {
    display: flex;
}
.blogListUser {
    margin: auto;
}
.dashboardSection {
    height: 85px;
}
.break {
    width: 50px
}
.createDiv {
    position: relative;
    left: 7%;
    color: white;
    margin-bottom: auto;
}
