.dashboardContainer {
  width: 100%;
}
.userSignedIn {
  display: flex;
  justify-content: center;
}
.editContainer {
  display: flex;
}
.blogListUser {
  margin: auto;
}
.dashboardSection {
  height: 85px;
}
.createDiv {
  color: white;
  margin-bottom: auto;
}
