.editBtn {
  display: flex;
  background-color: #212529;
  color: white;
  border-radius: 35px;
  justify-content: center;
  height: 40px;
  width: 100px;
  padding-top: 7px;
  box-shadow: 0 2px 2px var(--cultured), 0 6px 12px var(--cultured);
  --cultured: #A3A3A3;
}
.editBlog {
  height: 40px;
  width: 100px;
  margin-left: auto;
  position: relative;
  top: 65%;
}
