.editBtn {
  display: flex;
  background-color: #212529;
  color: white;
  border-radius: 35px;
  justify-content: center;
  height: 40px;
  width: 100px;
  padding-top: 7px;
}
.editBlog {
  height: 40px;
  width: 100px;
  margin-left: auto;
  position: relative;
  top: 65%;
}
