.nav-link {
  color: white;
  width: 150px;
}
.homeTabs {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.homeTab, .dashboardTab, .loginTab, .signupTab, .signoutTab,.resourcesTab {
  text-align: center;
  border-radius: 35px;
  box-shadow: 0 2px 2px var(--cultured), 0 6px 12px var(--cultured);
  --cultured: #A3A3A3;
}
 
.nav nav-tabs {
  border-radius: 35px;
}
.signoutTab {
  display: flex;
  justify-content: center;
}
.signoutBtn {
  display: flex;
  padding-top: 7px;
  border-radius: 35px;
  height: 40px;
  background-color: #212529;
  color: white;
}

/* .homeTabs li {
  display: flex;
  justify-content: center;
  border-radius: 35px;
  margin: 2px;
} */
