.container-nav {
  display: flex;
  width: 220px;
  position: relative;
  top: 74px;
  left: 70px;
}
.nav-link{
  color: white;
}
.homeTabs {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.homeTabs li {
  display: flex;
  justify-content: center;
  border-radius: 35px;
  margin: 2px;
}